.history-section {
  width: 100%;
}

.history-total {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  width: 150px;
  margin-top: 5px;
}

.history-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.history-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--main-text);
  padding: 12px 15px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.duration-badge {
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  background-color: #e0f7fa; /* Стандартно тюркоазено */
  color: #00838f;
  transition: all 0.3s ease;
}

.date-resetbtn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.today-btn {
  cursor: pointer;
  background-color: #fff;
  font-size: 12px;
  border: none;
  height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.today-btn:hover {
  opacity: 0.7;
}

.today-btn:active {
  transform: scale(0.9);
}

.duration-badge.low-sleep {
  background-color: #ffebee;
  color: #d32f2f;
  border: 1px solid #ffcdd2;
}

.duration-badge.optimal-sleep {
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #c8e6c9;
}

.congrats-msg {
  color: #2e7d32;
}

.motivation-msg {
  color: red;
}

.motivation-msg,
.congrats-msg {
  font-size: 0.75rem;
  margin-top: 4px;
  font-style: italic;
  font-weight: 500;
}

.empty-log {
  text-align: center;
}

.log-main-date {
  text-align: center;
  padding: 10px;
}

@media (min-width: 1024px) {
  .empty-log {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin: 10px;
  }

  .today-btn {
    font-size: 15px;
  }
}
