@import "@mantine/core/styles.css";
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";

body {
  margin: 0 auto;
  padding: 0;
  background-color: #e0f7fa;
}

:root {
  --bg-main: #e0f7fa;
  --bg-container: #ffffff;
  --main-text: #006064;
  --secondary-text: #455a64;
  --inputs-background: #f1fdff;
  --inputs-borders: #b2ebf2;
  --primary-button: #26c6da;
  --notification: #80cbc4;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 0;
    background-color: var(--bg-main);
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} */
