@import "@mantine/core/styles.css";
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/charts/styles.css";

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--mantine-color-default);
}

:root {
  --bg-main: #e0f7fa;
  --bg-container: #ffffff;
  --main-text: #006064;
  --secondary-text: #455a64;
  --inputs-background: #f1fdff;
  --inputs-borders: #b2ebf2;
  --primary-button: #26c6da;
  --notification: #80cbc4;
}